[package]
name = "rusty-planets"
version = "0.1.0"
authors = ["Billy Rhoades <me@brod.es>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
piston_window = "0.98.0"
